*{

    box-sizing: border-box;
    max-width: 100%;
}
span{
    color: skyblue;
}
body{
    background-color: #0077B6;

    max-width: 1200px;
    margin: auto;
    padding: 0 1rem;
}
.logo{
    display: flex;
    justify-content: center;
    font-size: larger;
}
nav{
    display: flex;
    padding-right: 4rem;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start

}

nav ul li{
    margin: 0 1rem;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

button{
    color: white;
    background-color: rgb(26, 159, 211);
    padding: 0.55rem;
    margin:4px;
    border-radius:5px;
    border-style: none;
    border-color: white;
    cursor:pointer;
    font-size: 11px;
    font-style: bold;

}
h1{
    color: rgb(233, 233, 233);
}


.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    align-items: center;
    padding: 5rem;;
}

.hero img





/*MY SERVICE*/
.Servicepage h1{
    text-align: center;
    padding: 2rem;
    margin: auto
    ;
}

.col1{
    border-top: 3px solid white ;
    border-bottom: 3px solid white;
    color: white;
    background-color: rgb(109, 115, 136);
    border-radius: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    align-items: center;
}
.grid p {
    text-align:center;
    padding: 0.5rem;
}
button{
    justify-content: center;
}

.Servicepage h3{
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
}